[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[user]
    name = jace-ys
    email = jace.tan@braze.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN77MQgSNoyCxXT6R4bfbXgPphJu3seYF2E0lEvYrN2Y
[alias]
    a = add
    aa = add --all
    ap = add --patch
    br = branch
    brd = branch -D
    c = commit
    ca = commit --amend
    cane = commit --amend --no-edit
    cl = clean -d
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    ds = diff --staged
    f = fetch
    frb = !git fetch && git rebase -i origin/HEAD
    l = log --oneline
    p = push
    pf = push --force-with-lease
    pl = pull
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i
    rbio = rebase -i origin/HEAD
    rs = reset
    rsho = reset --hard origin/HEAD
    rshu = reset --hard @{u}
    s = status
    st = stash push -m
    stc = stash clear
    std = stash drop
    stl = stash list
    stp = stash pop
    sts = stash show -p
[add "interactive"]
    useBuiltin = false
[advice]
    skippedCherryPicks = false
[commit]
    gpgsign = true
[core]
    excludesFile = ~/.gitignore
    pager = delta
[delta]
    navigate = true
[diff]
    algorithm = histogram
[fetch]
    prune = true
    pruneTags = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
[pull]
    ff = only
[push]
    autoSetupRemote = true
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
[rerere]
    enabled = true

[includeIf "gitdir:/Users/jace.tan/src/github.com/jace-ys/"]
    path = /Users/jace.tan/src/github.com/jace-ys/.files/git/.gitconfig-personal